[Unit]
Description="DJJ Swgoh bot"

[Service]
ExecStart=/uhome/njanssen/swgohbot/scripts/start.sh
WorkingDirectory=/home/njanssen/swgohbot
Restart=always
RestartSec=10
User=njanssen
SyslogIdentifier=DJJSwgohBot

[Install]
WantedBy=multi-user.target