[Unit]
Description="DJJ Swgoh bot"

[Service]
ExecStart=/uhome/njanssen/discodiscordbotv2/scripts/start.sh
WorkingDirectory=/home/njanssen/discordbotv2
Restart=always
RestartSec=10
User=njanssen
SyslogIdentifier=DJJSwgohBot

[Install]
WantedBy=multi-user.target